
.btn {
    display: inline-block;
    cursor: pointer;
    color: $color-Dark-Violet;
    font-size: 15px;
    font-weight: 700;
    padding: 8px 20px;
    box-shadow: 0px 5px 10px rgba(0,0,0,.1);
    border: 2px solid $color-Dark-Violet;
    text-transform: uppercase;
   

    

    &:hover {
        color: $color-white;
        background: $color-Dark-Violet;
        transition: .3s;

    }
    @include media(sm) {
        &:hover {
            color: $color-Very-Dark-Violet;
            background: $color-Very-Light-Gray;
            transition: .3s;
        }
    }
}

svg {
    vertical-align: middle;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
